html {
	height: 100%;
}


body {
/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, silver 0%, gray 100%);

/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, silver 0%, gray 100%);

/* Opera */ 
	background-image: -o-linear-gradient(left, silver 0%, gray 100%);

/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, silver), color-stop(1, gray));

/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, silver 0%, gray 100%);

/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, silver 0%, gray 100%);
}


p {
	font-family: serif, sans-serif;
	text-indent: 0.9em;
	text-align: justify;
}

table {
	font-family: serif, sans-serif;
}


table tr {
}


table th {
	font-size: 90%;
	font-weight: normal;
}


table td {
	font-weight: normal;
	display: inline-table;
}


table ul {
	font-size: 70%;
	color: crimson;
	list-style-type: none;
	display: table-footer-group;
}


table li {
}


img {
	border: 0;
}


h1, h2, h3, h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: silver;
}



a {
	text-decoration: none;
	color: crimson;
}

a:visited {
	color: gray;
}


a:hover {
	text-decoration: underline;
	color: red;
}


#login-control {
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 80%;
	color: black;
}


#login-control p {
	text-align: right;
	padding-right: 20px;
}


#main {
	width: 60em;
	margin: 1em auto;
	background: white;
	box-shadow: 15px 15px 10px #888888;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#main-nav {
	clear: both;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 150%;
	height: 81px;
	border-bottom: 1px dotted gray;
	margin-left: 10px;
	margin-right: 10px;
}

#main-nav ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

#main-nav li {
	float: right;
}


#main-nav a {
	display: block;
	text-decoration: none;
	text-align: center; 
	width: 110px;
	height: 80px;
	padding: 1em 0.2em 0 0.2em;
	color: crimson;
}


#main-nav a:hover {
	border-top: 0.3em solid red;
	height: 70px;
	color: red;
}

#content {
	padding: 1.2em 3em 2em 3em;
	min-height: 20em;
}


#sidebar {
	float: right;
	font-size: 95%;
	width: 20em;
	border-bottom: 1px dotted gray;
	border-top: 1px dotted gray;
	padding: 1em 1.2em 1em 2em;
	margin-left: 3em;
	margin-right: 10px;
	margin-bottom: 1.2em;
	text-indent: 0;
	min-height: 10em;
}


#footer {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 0.8em 1em;
	width: 40%;
	font-size: 50%;
	text-align: center;
	border-top: 1px dotted gray;
}
